
.headerModal{
  background-color:#DC143C;
  color:black;
  font-family: "san-serif";
}

.bodyModal{
  font-family: "san-serif";

}

.algn{
text-alignment : center;
}

#fm{
// border-style: solid;
background-color:lightskyblue;
}
.form{
  margin-left: 200px;
}

.cont{
margin-top:8px;
margin-bottom:8px;
}
#nxt{
  margin-left: 100px;
}
